<% provide(:title, "ログイン") %>
<h1>ログイン</h1>
<div class="login-form">
  <%= render partial: 'shared/error_messages', locals: { messages: @error_messages } %>
  <%= form_with model: @user, url: login_path, method: :post do |f| %>
    <div>
      <%= f.label :login_id %>
      <%= f.text_field :login_id, id: 'user_login_id' %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, id: 'user_password' %>
    </div>
    <%= f.submit 'ログイン', class: 'btn btn-primary' %>
  <% end %>
</div>
